<html>
 <head>
  <title>LHWeb</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="w3.css">
  <style> 
  </style>
 </head>
 <body>
  <div class="w3-container w3-teal">
   <h1>LHWeb</h1>
  </div>

    <ul class="w3-navbar w3-light-blue">
    <li><a href="/">Home</a></li>
    <li class="w3-white"><a href="/webconfig">Web Config</a></li>
    <li><a href="/userconfig">User Config</a></li>
    <li><a href="/browse">File Browser</a></li>
    <li><a href="/showlog">Log</a></li>
    <li><a href="/docu.html">Documentation</a></li>
    </ul>


{{banner}}
  
  <div class="w3-row-padding w3-padding-64 w3-theme-l1">
      <div class="w3-card-4">
        <div class="w3-container w3-theme-l1">
          <h2>WLAN config</h2>
        </div>
        <form class="w3-container" method="post">
          <p><input class="w3-input" type="text" name="wifi_ssid" value="{{ssid}}">
          <label class="w3-label">SSID</label></p>
          <p><input class="w3-input" type="text" name="wifi_pass" value="{{pass}}">
          <label class="w3-label">Passwort</label></p>
          <p><input class="w3-input" type="text" name="wifi_host" value="{{host}}">
          <label class="w3-label">Hostname</label></p>
          <p><input type="submit" value="Save"></p>
        </form>
      </div>
    </div>
  
  </body>
</html>

